body{
  background-color:#444;
  color:white;
  margin:20px;
  text-align: center;
  font-size: 32px;
  font-style: inherit;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Game{
  display:flex;
  flex-direction: column;
  align-items: center;
}